@font-face {
    font-family: sansbook;
    src: url(fonts/sansbook.woff2);
}

@font-face {
    font-family: serifbook;
    src: url(fonts/Plomb.woff);
}

@font-face {
    font-family: titlebook;
    src: url(fonts/booktitle.woff2);
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: sansbook, sans-serif;
    background-color: #33322E;
    background-color: #33322E;
    color: #ffffff;
    min-height: 100%;
}

.container{
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

a.logo{
    width: 150px;
    display: inline-block;
}

a.logo img{
    width: 100%;
}

p{
    font-size: 19px;
    line-height: 1.45;
}

@media (max-width: 750px) {
    p{
        font-size: 16px;
    }
}

.portada{
    position: relative;
    height: 105vh;
    background-image: url("../images/cover.png");
    background-size: cover;
    background-position: bottom;
}

.portada img{
    width: 100%;
}

.portada .cover{
    padding: 20px 0px;
}

.portada h1{
    font-size: 60px;
    font-weight: normal;
    font-family: serifbook;
    font-family: titlebook;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 80px;
}

@media (max-width: 750px) {
    .portada h1{
        font-size: 50px;
    }
}

.bajada{
    padding: 40px 0px;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    text-align: left;
}

.bajada p{
    font-size: 23px;
    line-height: 1.2;
}


@media (max-width: 750px) {
    .bajada{
        padding: 20px 0px;
        padding-top: 5px;
    }
    .bajada p{
        font-size: 20px;
    }
}

p.autor{
    font-size: 14px;
    color: #aaaaaa;
}

p.autor span{
    color: #ffffff;
}

.podcasts{
    padding: 30px 0px;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
}

.podcasts p{
    font-size: 14px;
    color: #888888;
}

.reportaje{
}

.reportaje img{
    width: 100%;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}

.reportaje img.medium-img{
    max-width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reportaje h2{
    font-size: 38px;
    font-weight: normal;
    margin: 80px auto;
    margin-bottom: 70px;
    margin-top: 70px;
    max-width: 700px;
    line-height: 1.0;
    font-family: titlebook;
}

@media (max-width: 750px) {
    .reportaje h2{

        margin: 50px auto;
    }
}


.reportaje h2 span{
    display: block;
    width: 50px;
    border-top: 3px solid #636060;
    margin-bottom: 15px;
}

.parrafo{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.parrafo b{
    font-weight: 400;
    color: #e76c33;
    border-bottom: 1px solid #e76c33;
}

.quote{
    max-width: 315px;
    float: right;
    font-size: 23px;
    border-top: 1px solid #e76c33;
    padding-top: 20px;
    color: #e76c33;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 30px;
    line-height: 1.2;
}


@media (max-width: 750px) {
    .quote{
        float:none;
        max-width: auto;
        margin-left: 0px;
        padding-top: 10px;
        margin-top: 40px;
    }
}

.fotodesc{
    max-width: 700px;
    margin: 0 auto;
    font-size: 13px;
    margin-top: 7px;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 55px;
}

.parrafo span.capitalize{
    font-size: 94px;
    font-family: titlebook;
    float: left;
    margin-top: -33px;
    margin-bottom: -30px;
    margin-right: 10px;
}

@media (max-width: 750px) {
    .parrafo span.capitalize{
        font-size: 80px;
        margin-top: -30px;
        margin-right: 8px;
    }
}

.parrafo span.capitalize span{
    font-size: 40px;
    position: relative;
    top: -38px
}

.footer{
    padding: 120px 0px;
    margin-top: 100px;
    background: #1b1b1a;
}