@font-face {
    font-family: sansbook;
    src: url(fonts/sansbook.woff2);
}

@font-face {
    font-family: serifbook;
    src: url(fonts/Plomb.woff);
}

@font-face {
    font-family: titlebook;
    src: url(fonts/booktitle.woff2);
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: sansbook, sans-serif;
    background-color: #33322E;
    background-color: #33322E;
    color: #ffffff;
    min-height: 100%;
}

.container{
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

.menu{
    margin-top: 10px;
}

a.logo{
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

a.ojologo{
    position: relative;
    top: 3px;
    width: 170px;
}

a.logo img{
    width: 100%;
}

p{
    font-size: 19px;
    line-height: 1.65;
}

@media (max-width: 750px) {
    p{
        font-size: 16px;
    }

    a.logo{
        width: 100px;
        margin-right: 10px;
    }

}

.cover{
    height: 105vh;
    position: relative;
    padding-top: 1px;
}

.portada{
    position: absolute;
    top: 0;
    left: 0;
    height: 105vh;
    width: 100%;
    background-image: url("../images/cover.png");
    background-size: cover;
    background-position: bottom;
}

@media (max-width: 750px) {
    .portada{
        height: 230px;
        position: static;
    }
    .cover{
        height: auto;
    }
}

.portada img{
    width: 100%;
}

.title{
    margin-top: 120px;
    position: relative;
}

@media (max-width: 750px) {
    .title{
        margin-top: 10px;
    }
}


.title h1{
    font-size: 71px;
    font-weight: normal;
    font-family: titlebook;
    line-height: 0.9;
    margin-top: 30px;
    margin-bottom: 0px;
}
.title p{
    font-size: 40px;
    display: block;
    font-family: titlebook;
    line-height: 1;
    margin-top: 25px;
    max-width: 500px;
}

@media (max-width: 750px) {
    .title h1{
        font-size: 54px;
        margin-top: 20px;
        color: #FB2D00;
    }
    .title p{
        font-size: 24px;
        margin-top: 10px;
    }
}

.bajada{
    padding: 60px 0px;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    text-align: left;
}

.bajada p{
    font-size: 26px;
    line-height: 1.44;
    text-align: center;
}


@media (max-width: 750px) {
    .bajada{
        padding: 20px 0px;
        padding-top: 5px;
    }
    .bajada p{
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
        margin-top: 0px;
    }
}

p.autor{
    font-size: 14px;
    color: #aaaaaa;
}

p.autor span{
    color: #ffffff;
}

.podcasts{
    padding: 0px 0px;
    max-width: 900px;
    margin: 60px auto;
}

.podcasts p{
    font-size: 14px;
    color: #888888;
    max-width: 700px;
    margin: 10px auto;
}

.reportaje{
}

.reportaje img.big-img, .reportaje .video{
    width: 100%;
    margin-top: 50px;
    display: block;
    margin-bottom: 20px;
}

.reportaje img.medium-img{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    display: block
}

.reportaje img.small-img{
    max-width: 550px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px; 
    display: block;
}

.fotodesc{
    max-width: 700px;
    margin: 0 auto;
    font-size: 13px;
    margin-top: 7px;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 65px;
}


.reportaje h2{
    font-size: 38px;
    font-weight: normal;
    margin: 60px auto;
    margin-top: 70px;
    max-width: 700px;
    line-height: 1.0;
    font-family: titlebook;
}

@media (max-width: 750px) {
    .reportaje h2{

        margin: 50px auto;
    }
}

.embed{
    margin: 50px 0px;
}

.reportaje h2 span{
    display: block;
    width: 50px;
    border-top: 3px solid #636060;
    margin-bottom: 15px;
}

.parrafo{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.parrafo b{
    font-weight: 400;
    color: #e76c33;
}

.parrafo a{
    color: #e76c33;
    text-decoration: none;
    border-bottom: 1px solid #666666;
}

.quote{
    max-width: 335px;
    float: right;
    font-size: 26px;
    border-top: 1px solid #e76c33;
    padding-top: 20px;
    color: #e76c33;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.2;
}


@media (max-width: 750px) {
    .quote{
        float:none;
        max-width: auto;
        margin-left: 0px;
        padding-top: 10px;
        margin-top: 40px;
    }
}

.parrafo span.capitalize{
    font-size: 102px;
    font-family: titlebook;
    float: left;
    margin-top: -43px;
    margin-bottom: -40px;
    margin-right: 10px;
}

@media (max-width: 750px) {
    .parrafo span.capitalize{
        font-size: 80px;
        margin-top: -30px;
        margin-right: 8px;
    }
}

.parrafo span.capitalize span{
    font-size: 40px;
    position: relative;
    top: -38px
}

.footer{
    padding: 50px 0px;
    margin-top: 100px;
    background: #1b1b1a;
}

.carslide{
    margin: 60px 0px;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car-cont{
    position: relative;
}

.car-cont p{
    position: absolute;
    z-index: 100;
    padding: 10px 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.splide__slide {
    opacity: 0.3;
}
  
.splide__slide.is-active {
    opacity: 1;
}

.carousel-thumb{
    text-align: center;
    margin-top: 10px;
}

.carousel-thumb .splide__list {
    justify-content: center;
    align-items:center;
}